@{
    ViewData["Title"] = "Error Result";
}
<!-- Start 404
============================================= -->
<div class="error-page-area bg-gray default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5 thumb">
                <img src="~/img/404.png" alt="Thumb">
            </div>
            <div class="col-md-7 error-box">
                <h2>Sorry Page Was Not Found!</h2>
                <p>
                    Household shameless incommode at no objection behaviour. Especially do at he possession insensible sympathize boisterous it. Songs he on an widen me event truth. Certain law age brother sending amongst why covered.
                </p>
                <a class="btn btn-theme effect btn-md" asp-area="" asp-controller="Home" asp-action="Index">Back To Home</a>
            </div>
        </div>
    </div>
</div>
<!-- End 404 -->