@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Start Footer
============================================= -->

<div class="container">
    <div class="row">
        <div class="f-items default-padding">

            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height item">
                <div class="f-item about">
                    <h4>About</h4>
                    <p>
                        Excellence decisively nay man yet impression for contrasted remarkably. There spoke happy for you are out. Fertile how old address did showing because sitting replied six. Had arose guest visit going off child
                    </p>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="col-md-2 col-sm-6 equal-height item">
                <div class="f-item link">
                    <h4>Company</h4>
                    <ul>
                        <li>
                            <a asp-area="" asp-controller="About" asp-action="Index">About Us</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- End Single Item -->
            <!-- Single Item -->
            <div class="col-md-4 col-sm-6 equal-height item">
                <div class="f-item">
                    <div class="item-counter">
                        <ul>
                            <li>
                                <h2>124778</h2>
                                <span>Total Items</span>
                            </li>
                            <li>
                                <h2>397877</h2>
                                <span>Community Users</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Single Item -->
        </div>
    </div>
</div>
<!-- Start Footer Bottom -->
<div class="footer-bottom bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; Copyright 2019. All Rights Reserved by <a href="#">validthemes</a></p>
            </div>
        </div>
    </div>
</div>
<!-- End Footer Bottom -->

<!-- End Footer -->