@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager
@{
    var userId = UserManager.GetUserId(User);
}

<!-- Start Header Top
    ============================================= -->
<div class="top-bar-area bg-theme text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8 basic-info text-left"></div>
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="col-md-4 col-sm-4 login-info text-right">
                    <div class="collapse navbar-collapse" id="navbar-menu">
                        <ul class="nav navbar-nav navbar-right" data-in="#" data-out="#">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle active" data-toggle="dropdown">@User.Identity.Name</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a asp-area="Login" asp-controller="Home" asp-action="Logout">Log Out</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-4 col-sm-4 login-info text-right">
                    <a asp-area="Login" asp-controller="Home" asp-action="Index"><i class="fas fa-user"></i> Login</a>
                </div>
            }
        </div>
    </div>
    </div>
<!-- End Header Top -->
<!-- Start Navigation -->
<nav class="navbar navbar-default attr-border bootsnav">

    <!-- Start Top Search -->
    <div class="container">
        <div class="row">
            <div class="top-search">
                <div class="input-group">
                    <form action="#">
                        <input type="text" name="text" class="form-control" placeholder="Search">
                        <button type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <div class="container">

        <!-- Start Atribute Navigation -->
        <div class="attr-nav">
            <ul>
                <li class="dropdown">
                    <a asp-area="Shopping" asp-controller="Home" asp-action="Index" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-shopping-cart"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- End Atribute Navigation -->
        <!-- Start Header Navigation -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/img/logo.png" class="logo" alt="Logo">
            </a>
        </div>
        <!-- End Header Navigation -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-right" data-in="#" data-out="#">
                @if (SignInManager.IsSignedIn(User))
                {
                <li>
                    <a asp-area="Author" asp-controller="Home" asp-action="Index" asp-route-id="@userId">Author Profile</a>
                </li>
                }
                <li class="dropdown megamenu-fw">
                    <a asp-area="Templates" asp-controller="Home" asp-action="Index">All Products</a>
                </li>
                <li>
                    <a asp-area="Blog" asp-controller="Home" asp-action="Index">Blog</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>

</nav>
<!-- End Navigation -->