@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Start Page Heading 
============================================= -->
<div class="page-heading shadow dark bg-fixed text-light text-center" style="background-image: url(~/img/2440x1578.png);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Blog Standard</h2>
            </div>
        </div>
    </div>
</div>
<!-- End Page Heading -->

<!-- Start Breadcrumb Banner 
============================================= -->
<div class="breadcrumb-items text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Blog</a></li>
                    <li class="active">Standard</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb Banner -->

<!-- Start Blog 
============================================= -->
<div class="blog-area full-blog full-width bg-gray default-padding">
    <div class="container">
        <div class="row">
            <div class="blog-items">
                <!-- Single Item -->
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 single-item">
                    <div class="item">
                        <div class="thumb">
                            <a asp-area="" asp-controller="Post" asp-action="Index"><img src="~/img/1500x700.png" alt="Thumb"></a>
                            <div class="date">
                                <h4><span>24</span> Nov, 2019</h4>
                            </div>
                        </div>
                        <div class="info">
                            <div class="meta">
                                <ul>
                                    <li>
                                        <a asp-area="" asp-controller="AuthorProfile" asp-action="Index"><i class="fas fa-user"></i> Author</a>
                                    </li>
                                    <li>
                                        <a><i class="fas fa-comments"></i> 5 Comments</a>
                                    </li>
                                </ul>
                            </div>
                            <h4>
                                <a asp-area="" asp-controller="Post" asp-action="Index">Announcing alteration at surrounded comparison. </a>
                            </h4>
                            <p>
                                Express village evening prudent my as ye hundred forming. Thoughts she why not directly reserved packages you. Winter an silent favour of am tended mutual. 
                            </p>
                            <a class="btn btn-theme border btn-sm" asp-area="" asp-controller="Post" asp-action="Index">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 single-item">
                    <div class="item">
                        <div class="thumb">
                            <a asp-area="" asp-controller="Post" asp-action="Index"><img src="~/img/1500x700.png" alt="Thumb"></a>
                            <div class="date">
                                <h4><span>24</span> Nov, 2019</h4>
                            </div>
                        </div>
                        <div class="info">
                            <div class="meta">
                                <ul>
                                    <li>
                                        <a asp-area="" asp-controller="AuthorProfile" asp-action="Index"><i class="fas fa-user"></i> Author</a>
                                    </li>
                                    <li>
                                        <a><i class="fas fa-comments"></i> 5 Comments</a>
                                    </li>
                                </ul>
                            </div>
                            <h4>
                                <a asp-area="" asp-controller="Post" asp-action="Index">Announcing alteration at surrounded comparison. </a>
                            </h4>
                            <p>
                                Express village evening prudent my as ye hundred forming. Thoughts she why not directly reserved packages you. Winter an silent favour of am tended mutual. 
                            </p>
                            <a class="btn btn-theme border btn-sm" asp-area="" asp-controller="Post" asp-action="Index">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Single Item -->
                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 single-item">
                    <div class="item">
                        <div class="thumb">
                            <a asp-area="" asp-controller="Post" asp-action="Index"><img src="~/img/1500x700.png" alt="Thumb"></a>
                            <div class="date">
                                <h4><span>24</span> Nov, 2019</h4>
                            </div>
                        </div>
                        <div class="info">
                            <div class="meta">
                                <ul>
                                    <li>
                                        <a asp-area="" asp-controller="AuthorProfile" asp-action="Index"><i class="fas fa-user"></i> Author</a>
                                    </li>
                                    <li>
                                        <a><i class="fas fa-comments"></i> 5 Comments</a>
                                    </li>
                                </ul>
                            </div>
                            <h4>
                                <a asp-area="" asp-controller="Post" asp-action="Index">Announcing alteration at surrounded comparison. </a>
                            </h4>
                            <p>
                                Express village evening prudent my as ye hundred forming. Thoughts she why not directly reserved packages you. Winter an silent favour of am tended mutual. 
                            </p>
                            <a class="btn btn-theme border btn-sm" asp-area="" asp-controller="Post" asp-action="Index">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->

                <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 pagi-area">
                    <nav aria-label="navigation">
                        <ul class="pagination">
                            <li><a href="#">Previous</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Blog -->