@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

                    <!-- Start Page Heading
    ============================================= -->
<div class="page-heading shadow dark bg-fixed text-light text-center" style="background-image: url(~/img/2440x1578.png);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
</div>
<!-- End Page Heading -->

<!-- Start About 
============================================= -->
<div class="about-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 left-info">
                <h2>Welcome to the bigest online marketplace</h2>
                <p>
                    Large an it sense shall an match learn. By expect it result silent in formal of. Ask eat questions abilities described elsewhere assurance. Appetite in unlocked advanced breeding position concerns as. Cheerful get shutters yet for repeated screened. An no am cause hopes at three. Prevent behaved fertile he is mistake on. described elsewhere assurance
                </p>
            </div>
            <div class="col-md-6 right-info">
                <ul>
                    <li>
                        <h4>Buy Exclusives</h4>
                        <p>
                            Expenses judgment building man carriage gay. Considered introduced themselves mr to discretion at. Means among saw hopes for. 
                        </p>
                    </li>
                    <li>
                        <h4>Learn Crafts</h4>
                        <p>
                            Expenses judgment building man carriage gay. Considered introduced themselves mr to discretion at. Means among saw hopes for. 
                        </p>
                    </li>
                    <li>
                        <h4>Make Money</h4>
                        <p>
                            Expenses judgment building man carriage gay. Considered introduced themselves mr to discretion at. Means among saw hopes for. 
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End About -->

<!-- Start Team 
============================================= -->
<div class="team-area bg-gray default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2>Meet our team</h2>
                    <p>
                        While mirth large of on front. Ye he greater related adapted proceed entered an. Through it examine express promise no. Past add size game cold girl off how old
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="team-items team-carousel owl-carousel owl-theme">
                    <!-- Single Item -->
                    <div class="item">
                        <div class="row">
                            <div class="col-md-4 profile-box">
                                <div class="basic-info">
                                    <div class="thumb">
                                        <img src="~/img/account.png" alt="Thumb">
                                    </div>
                                    <div class="content">
                                        <h4>Polina Mikheeva</h4>
                                        <span>Developer</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8 details">
                                <ul>
                                    <li>Joining Date: <span>2 March, 2024</span></li>
                                    <li>Experiance: <span>.NET</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Team -->

<!-- Start Features 
============================================= -->
<div class="our-features-area default-padding">
    <div class="container">
        <div class="row">
            <div class="features-items">
                <!-- Single Item -->
                <div class="col-md-4 single-item">
                    <div class="item">
                        <div class="icon">
                            <i class="flaticon-credit-card-2"></i>
                        </div>
                        <div class="info">
                            <h4>Secure Transaction</h4>
                            <p>
                                If sincerity he to curiosity arranging. Learn taken terms be as. Scarcely mrs produced too removing new old. 
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 single-item">
                    <div class="item">
                        <div class="icon">
                            <i class="flaticon-support-1"></i>
                        </div>
                        <div class="info">
                            <h4>Best Support</h4>
                            <p>
                                If sincerity he to curiosity arranging. Learn taken terms be as. Scarcely mrs produced too removing new old. 
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 single-item">
                    <div class="item">
                        <div class="icon">
                            <i class="flaticon-quality"></i>
                        </div>
                        <div class="info">
                            <h4>Quality Platform</h4>
                            <p>
                                If sincerity he to curiosity arranging. Learn taken terms be as. Scarcely mrs produced too removing new old. 
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>
</div>
<!-- End Features -->