@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Start Page Heading 
============================================= -->
<div class="page-heading shadow dark bg-fixed text-light text-center" style="background-image: url(~/img/2440x1578.png);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>About Us</h2>
            </div>
        </div>
    </div>
</div>
<!-- End Page Heading -->

<!-- Start Breadcrumb Banner 
============================================= -->
<div class="breadcrumb-items bg-gray text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Index">Page</a></li>
                    <li class="active">About</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb Banner -->

<!-- Start About 
============================================= -->
<div class="about-area default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6 left-info">
                <h2>Welcome to the bigest online marketplace</h2>
                <p>
                    Large an it sense shall an match learn. By expect it result silent in formal of. Ask eat questions abilities described elsewhere assurance. Appetite in unlocked advanced breeding position concerns as. Cheerful get shutters yet for repeated screened. An no am cause hopes at three. Prevent behaved fertile he is mistake on. described elsewhere assurance
                </p>
                <div class="fun-fact-items">
                    <div class="fun-fact">
                        <div class="timer icon-inc" data-to="47" data-speed="5000">47</div>
                        <span class="medium">Expert Developer</span>
                    </div>
                    <div class="fun-fact">
                        <div class="timer icon-inc" data-to="3407" data-speed="5000">3407</div>
                        <span class="medium">Community Users</span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 right-info">
                <ul>
                    <li>
                        <h4>Buy Exclusives</h4>
                        <p>
                            Expenses judgment building man carriage gay. Considered introduced themselves mr to discretion at. Means among saw hopes for. 
                        </p>
                    </li>
                    <li>
                        <h4>Learn Crafts</h4>
                        <p>
                            Expenses judgment building man carriage gay. Considered introduced themselves mr to discretion at. Means among saw hopes for. 
                        </p>
                    </li>
                    <li>
                        <h4>Make Money</h4>
                        <p>
                            Expenses judgment building man carriage gay. Considered introduced themselves mr to discretion at. Means among saw hopes for. 
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End About -->

<!-- Start Team 
============================================= -->
<div class="team-area bg-gray default-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="site-heading text-center">
                    <h2>Meet our team</h2>
                    <p>
                        While mirth large of on front. Ye he greater related adapted proceed entered an. Through it examine express promise no. Past add size game cold girl off how old
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="team-items team-carousel owl-carousel owl-theme">
                    <!-- Single Item -->
                    <div class="item">
                        <div class="row">
                            <div class="col-md-4 profile-box">
                                <div class="basic-info">
                                    <div class="thumb">
                                        <img src="~/img/800x800.png" alt="Thumb">
                                    </div>
                                    <div class="content">
                                        <h4>Jonathom Doe</h4>
                                        <span>Senior Developer</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8 details">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, numquam, aliquam. Placeat quae nulla in cum. Facere sunt perspiciatis repudiandae saepe, autem exercitationem nemo dolorum? Illo architecto autem totam! Repellendus.
                                </p>
                                <ul>
                                    <li>Joining Date: <span>12 Nov, 2016</span></li>
                                    <li>Experiance: <span>WordPress, Python</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="item">
                        <div class="row">
                            <div class="col-md-4 profile-box">
                                <div class="basic-info">
                                    <div class="thumb">
                                        <img src="~/img/800x800.png" alt="Thumb">
                                    </div>
                                    <div class="content">
                                        <h4>Jonathom Doe</h4>
                                        <span>Senior Developer</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8 details">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, numquam, aliquam. Placeat quae nulla in cum. Facere sunt perspiciatis repudiandae saepe, autem exercitationem nemo dolorum? Illo architecto autem totam! Repellendus.
                                </p>
                                <ul>
                                    <li>Joining Date: <span>12 Nov, 2016</span></li>
                                    <li>Experiance: <span>WordPress, Python</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Team -->

<!-- Start Features 
============================================= -->
<div class="our-features-area default-padding">
    <div class="container">
        <div class="row">
            <div class="features-items">
                <!-- Single Item -->
                <div class="col-md-4 single-item">
                    <div class="item">
                        <div class="icon">
                            <i class="flaticon-credit-card-2"></i>
                        </div>
                        <div class="info">
                            <h4>Secure Transaction</h4>
                            <p>
                                If sincerity he to curiosity arranging. Learn taken terms be as. Scarcely mrs produced too removing new old. 
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 single-item">
                    <div class="item">
                        <div class="icon">
                            <i class="flaticon-support-1"></i>
                        </div>
                        <div class="info">
                            <h4>Best Support</h4>
                            <p>
                                If sincerity he to curiosity arranging. Learn taken terms be as. Scarcely mrs produced too removing new old. 
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 single-item">
                    <div class="item">
                        <div class="icon">
                            <i class="flaticon-quality"></i>
                        </div>
                        <div class="info">
                            <h4>Quality Platform</h4>
                            <p>
                                If sincerity he to curiosity arranging. Learn taken terms be as. Scarcely mrs produced too removing new old. 
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
            </div>
        </div>
    </div>
</div>
<!-- End Features -->