@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- Start Page Heading 
============================================= -->
<div class="page-heading shadow dark bg-fixed text-light text-center" style="background-image: url(~/img/2440x1578.png);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Search Reuslt For 'Example'</h2>
            </div>
        </div>
    </div>
</div>
<!-- End Page Heading -->

<!-- Start Breadcrumb Banner 
============================================= -->
<div class="breadcrumb-items text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Search</a></li>
                    <li class="active">Example</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Breadcrumb Banner -->

<!-- Start Product Search
============================================= -->
<div class="product-single-area trend-product-area bg-gray default-padding">
    <div class="container">
        <div class="row">
            <div class="search-product-lists trend-items">
                <!-- Single Item -->
                <div class="col-md-4 equal-height">
                    <div class="item">
                        <div class="thumb">
                            <a asp-area="" asp-controller="Product" asp-action="Index"><img src="~/img/800x800.png" alt="Thumb"></a>
                            <div class="overlay">
                                <a href="#">Add Cart</a>
                                <a href="#">Details</a>
                            </div>
                        </div>
                        <div class="info-box">
                            <div class="top-info">
                                <h4>
                                    <a asp-area="" asp-controller="Product" asp-action="Index">Boxass - Startup Landing Page Theme</a>
                                </h4>
                                <div class="author">
                                    by <a asp-area="" asp-controller="AuthorProfile" asp-action="Index">Author</a> in
                                    <span><a href="#">Startup</a> / <a href="#">Landing</a></span>
                                </div>
                                <div class="item-type">
                                    <p><i class="fas fa-chart-bar"></i> 13 Sales</p>
                                    <div class="rating">
                                        <div class="four-out-of-five">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-info">
                                <div class="item-preview">
                                    <a href="#">Preview</a>
                                </div>
                                <div class="price">
                                    <h4>$59.00</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->
                <!-- Single Item -->
                <div class="col-md-4 equal-height">
                    <div class="item">
                        <div class="thumb">
                            <a asp-area="" asp-controller="Product" asp-action="Index"><img src="~/img/800x800.png" alt="Thumb"></a>
                            <div class="overlay">
                                <a href="#">Add Cart</a>
                                <a href="#">Details</a>
                            </div>
                        </div>
                        <div class="info-box">
                            <div class="top-info">
                                <h4>
                                    <a asp-area="" asp-controller="Product" asp-action="Index">Rescaf - Food & Restaurant Template</a>
                                </h4>
                                <div class="author">
                                    by <a asp-area="" asp-controller="AuthorProfile" asp-action="Index">Author</a> in
                                    <span><a href="#">Restaurant</a></span>
                                </div>
                                <div class="item-type">
                                    <a href="#"><i class="fab fa-html5"></i> HTML5</a>
                                    <div class="rating">
                                        <div class="no-rating">
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                            <i class="far fa-star"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-info">
                                <div class="item-preview">
                                    <a href="#">Preview</a>
                                </div>
                                <div class="price">
                                    <h4>$17.00</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Item -->

                <!-- Start Pagination -->
                <div class="col-md-12 pagi-area">
                    <nav aria-label="navigation">
                        <ul class="pagination">
                            <li><a href="#"><i class="fas fa-angle-double-left"></i></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><i class="fas fa-angle-double-right"></i></a></li>
                        </ul>
                    </nav>
                </div>
                <!-- End Pagination -->

            </div>
        </div>
    </div>
</div>
<!-- End Product Search -->